{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Pessoas.com - Atualizar</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
</head>
<body>
	<h1>
		Pessoas.com
	</h1>
	<h3>
		Atualizar informções
	</h3>
	<p>
		Atualize as informações abaixo, logo após clique em salvar
	</p>
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}

		<a href="{% url 'cadastro_lista' %}">
			<button type="button">
				Voltar
			</button>
		</a>
		<button type="submit">
			Salvar
		</button>
	</form>
</body>
</html>